
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Technologies</title>
    <link rel="stylesheet" type="text/css" href="~/Style/myStyle.css">
</head>
<body>
    <div id="wrap">
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Distance")</li>
            <li>@Html.ActionLink("Technologies", "Technologies", "Distance")</li>
            <li>@Html.ActionLink("Documentation", "Documentation", "Distance")</li>
            <li>@Html.ActionLink("Resume", "Resume", "Distance")</li>
        </ul>
        <h4>Following Technologies have been used for this project</h4><br>
        -ASP.NET MVC 5<br><br>
        - C#<br><br>
        - AngularJS<br><br>
        - HTML<br><br>
        - CSS<br><br>
        - LINQ<br><br>
    </div>
</body>
</html>
